<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dracula.ht2017g8.dao.mybatis.WebBusintroMapper">
  <resultMap id="BaseResultMap" type="org.dracula.ht2017g8.po.mybatis.WebBusintro">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="businame" jdbcType="VARCHAR" property="businame" />
    <result column="busiintro" jdbcType="VARCHAR" property="busiintro" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, businame, busiintro
  </sql>
  <select id="selectByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebBusintroExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_busintro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebBusintroExample">
    delete from web_busintro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.dracula.ht2017g8.po.mybatis.WebBusintro">
    insert into web_busintro (id, businame, busiintro
      )
    values (#{id,jdbcType=INTEGER}, #{businame,jdbcType=VARCHAR}, #{busiintro,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.dracula.ht2017g8.po.mybatis.WebBusintro">
    insert into web_busintro
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="businame != null">
        businame,
      </if>
      <if test="busiintro != null">
        busiintro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="businame != null">
        #{businame,jdbcType=VARCHAR},
      </if>
      <if test="busiintro != null">
        #{busiintro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebBusintroExample" resultType="java.lang.Long">
    select count(*) from web_busintro
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update web_busintro
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.businame != null">
        businame = #{record.businame,jdbcType=VARCHAR},
      </if>
      <if test="record.busiintro != null">
        busiintro = #{record.busiintro,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update web_busintro
    set id = #{record.id,jdbcType=INTEGER},
      businame = #{record.businame,jdbcType=VARCHAR},
      busiintro = #{record.busiintro,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>