<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dracula.ht2017g8.dao.mybatis.WebCustapplyMapper">
  <resultMap id="BaseResultMap" type="org.dracula.ht2017g8.po.mybatis.WebCustapply">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="custid" jdbcType="VARCHAR" property="custid" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="income" jdbcType="VARCHAR" property="income" />
    <result column="BAL_AST" jdbcType="VARCHAR" property="balAst" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, custid, gender, age, marital_status, profession, income, BAL_AST
  </sql>
  <select id="selectByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebCustapplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_custapply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebCustapplyExample">
    delete from web_custapply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.dracula.ht2017g8.po.mybatis.WebCustapply">
    insert into web_custapply (id, custid, gender, 
      age, marital_status, profession, 
      income, BAL_AST)
    values (#{id,jdbcType=INTEGER}, #{custid,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{income,jdbcType=VARCHAR}, #{balAst,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.dracula.ht2017g8.po.mybatis.WebCustapply">
    insert into web_custapply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custid != null">
        custid,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="balAst != null">
        BAL_AST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custid != null">
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="balAst != null">
        #{balAst,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebCustapplyExample" resultType="java.lang.Long">
    select count(*) from web_custapply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update web_custapply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.custid != null">
        custid = #{record.custid,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null">
        marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.profession != null">
        profession = #{record.profession,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null">
        income = #{record.income,jdbcType=VARCHAR},
      </if>
      <if test="record.balAst != null">
        BAL_AST = #{record.balAst,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update web_custapply
    set id = #{record.id,jdbcType=INTEGER},
      custid = #{record.custid,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      profession = #{record.profession,jdbcType=VARCHAR},
      income = #{record.income,jdbcType=VARCHAR},
      BAL_AST = #{record.balAst,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>