<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dracula.ht2017g8.dao.mybatis.WebTimelineMapper">
  <resultMap id="BaseResultMap" type="org.dracula.ht2017g8.po.mybatis.WebTimeline">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="custid" jdbcType="VARCHAR" property="custid" />
    <result column="custnm" jdbcType="VARCHAR" property="custnm" />
    <result column="custdate" jdbcType="VARCHAR" property="custdate" />
    <result column="carddate" jdbcType="VARCHAR" property="carddate" />
    <result column="ccarddate" jdbcType="VARCHAR" property="ccarddate" />
    <result column="trandate" jdbcType="VARCHAR" property="trandate" />
    <result column="tottran" jdbcType="VARCHAR" property="tottran" />
    <result column="totin" jdbcType="VARCHAR" property="totin" />
    <result column="totout" jdbcType="VARCHAR" property="totout" />
    <result column="totfee1" jdbcType="VARCHAR" property="totfee1" />
    <result column="totfee2" jdbcType="VARCHAR" property="totfee2" />
    <result column="totfee3" jdbcType="VARCHAR" property="totfee3" />
    <result column="totfee4" jdbcType="VARCHAR" property="totfee4" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, custid, custnm, custdate, carddate, ccarddate, trandate, tottran, totin, totout, 
    totfee1, totfee2, totfee3, totfee4
  </sql>
  <select id="selectByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebTimelineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebTimelineExample">
    delete from web_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.dracula.ht2017g8.po.mybatis.WebTimeline">
    insert into web_timeline (id, custid, custnm, 
      custdate, carddate, ccarddate, 
      trandate, tottran, totin, 
      totout, totfee1, totfee2, 
      totfee3, totfee4)
    values (#{id,jdbcType=INTEGER}, #{custid,jdbcType=VARCHAR}, #{custnm,jdbcType=VARCHAR}, 
      #{custdate,jdbcType=VARCHAR}, #{carddate,jdbcType=VARCHAR}, #{ccarddate,jdbcType=VARCHAR}, 
      #{trandate,jdbcType=VARCHAR}, #{tottran,jdbcType=VARCHAR}, #{totin,jdbcType=VARCHAR}, 
      #{totout,jdbcType=VARCHAR}, #{totfee1,jdbcType=VARCHAR}, #{totfee2,jdbcType=VARCHAR}, 
      #{totfee3,jdbcType=VARCHAR}, #{totfee4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.dracula.ht2017g8.po.mybatis.WebTimeline">
    insert into web_timeline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custid != null">
        custid,
      </if>
      <if test="custnm != null">
        custnm,
      </if>
      <if test="custdate != null">
        custdate,
      </if>
      <if test="carddate != null">
        carddate,
      </if>
      <if test="ccarddate != null">
        ccarddate,
      </if>
      <if test="trandate != null">
        trandate,
      </if>
      <if test="tottran != null">
        tottran,
      </if>
      <if test="totin != null">
        totin,
      </if>
      <if test="totout != null">
        totout,
      </if>
      <if test="totfee1 != null">
        totfee1,
      </if>
      <if test="totfee2 != null">
        totfee2,
      </if>
      <if test="totfee3 != null">
        totfee3,
      </if>
      <if test="totfee4 != null">
        totfee4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custid != null">
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="custnm != null">
        #{custnm,jdbcType=VARCHAR},
      </if>
      <if test="custdate != null">
        #{custdate,jdbcType=VARCHAR},
      </if>
      <if test="carddate != null">
        #{carddate,jdbcType=VARCHAR},
      </if>
      <if test="ccarddate != null">
        #{ccarddate,jdbcType=VARCHAR},
      </if>
      <if test="trandate != null">
        #{trandate,jdbcType=VARCHAR},
      </if>
      <if test="tottran != null">
        #{tottran,jdbcType=VARCHAR},
      </if>
      <if test="totin != null">
        #{totin,jdbcType=VARCHAR},
      </if>
      <if test="totout != null">
        #{totout,jdbcType=VARCHAR},
      </if>
      <if test="totfee1 != null">
        #{totfee1,jdbcType=VARCHAR},
      </if>
      <if test="totfee2 != null">
        #{totfee2,jdbcType=VARCHAR},
      </if>
      <if test="totfee3 != null">
        #{totfee3,jdbcType=VARCHAR},
      </if>
      <if test="totfee4 != null">
        #{totfee4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.dracula.ht2017g8.po.mybatis.WebTimelineExample" resultType="java.lang.Long">
    select count(*) from web_timeline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update web_timeline
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.custid != null">
        custid = #{record.custid,jdbcType=VARCHAR},
      </if>
      <if test="record.custnm != null">
        custnm = #{record.custnm,jdbcType=VARCHAR},
      </if>
      <if test="record.custdate != null">
        custdate = #{record.custdate,jdbcType=VARCHAR},
      </if>
      <if test="record.carddate != null">
        carddate = #{record.carddate,jdbcType=VARCHAR},
      </if>
      <if test="record.ccarddate != null">
        ccarddate = #{record.ccarddate,jdbcType=VARCHAR},
      </if>
      <if test="record.trandate != null">
        trandate = #{record.trandate,jdbcType=VARCHAR},
      </if>
      <if test="record.tottran != null">
        tottran = #{record.tottran,jdbcType=VARCHAR},
      </if>
      <if test="record.totin != null">
        totin = #{record.totin,jdbcType=VARCHAR},
      </if>
      <if test="record.totout != null">
        totout = #{record.totout,jdbcType=VARCHAR},
      </if>
      <if test="record.totfee1 != null">
        totfee1 = #{record.totfee1,jdbcType=VARCHAR},
      </if>
      <if test="record.totfee2 != null">
        totfee2 = #{record.totfee2,jdbcType=VARCHAR},
      </if>
      <if test="record.totfee3 != null">
        totfee3 = #{record.totfee3,jdbcType=VARCHAR},
      </if>
      <if test="record.totfee4 != null">
        totfee4 = #{record.totfee4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update web_timeline
    set id = #{record.id,jdbcType=INTEGER},
      custid = #{record.custid,jdbcType=VARCHAR},
      custnm = #{record.custnm,jdbcType=VARCHAR},
      custdate = #{record.custdate,jdbcType=VARCHAR},
      carddate = #{record.carddate,jdbcType=VARCHAR},
      ccarddate = #{record.ccarddate,jdbcType=VARCHAR},
      trandate = #{record.trandate,jdbcType=VARCHAR},
      tottran = #{record.tottran,jdbcType=VARCHAR},
      totin = #{record.totin,jdbcType=VARCHAR},
      totout = #{record.totout,jdbcType=VARCHAR},
      totfee1 = #{record.totfee1,jdbcType=VARCHAR},
      totfee2 = #{record.totfee2,jdbcType=VARCHAR},
      totfee3 = #{record.totfee3,jdbcType=VARCHAR},
      totfee4 = #{record.totfee4,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>